body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

a:link
{
    color: #209781;
    text-decoration: none;
}

a:visited 
{ 
    color: #209781; 
}

a:active  
{ 
    color: #209781; 
}

a:hover   
{ 
    color: #E9B64A; 
}

h1
{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.plansza
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.karta
{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/karta.png");
    border: 4px solid #51c8b2;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .2s ease-in-out;
}

.karta:hover
{
    border: 4px solid #E9B64A;
    filter: brightness(100%);
}

.kartaA
{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/karta.png");
    border: 4px solid #E9B64A;
    border-radius: 4px;
    cursor: default;
    filter: brightness(100%);
    transition: all .2s ease-in-out;
}

.wynik
{
    margin-top: 5px;
    letter-spacing: 2px;
}

.przeladuj
{
    margin-top: 5px;
    letter-spacing: 2px;
}
 
.przeladuj:hover
{
    color: #E9B64A;
    cursor: pointer;
}


